<?xml version="1.0"?>
<ruleset name="Laranav">
 <description>PHPCS configuration for Laranav</description>

 <file>src</file>

 <exclude-pattern>*/Tests/*</exclude-pattern>

 <config name="ignore_errors_on_exit" value="1"/>
 <config name="ignore_warnings_on_exit" value="1"/>

 <arg name="report" value="summary"/>
 <arg value="np"/>

 <rule ref="PSR2"/>
</ruleset>
